In [1]:
import pandas as pd
import numpy as np
import datetime

In [2]:
df = pd.read_csv('Woods_Q_2012_2019_1hr.csv')

In [3]:
df

       Unnamed: 0          Datetime         Q
0               0  2012-04-01 00:00  0.540090
1               1  2012-04-01 01:00  0.559448
2               2  2012-04-01 02:00  0.580325
3               3  2012-04-01 03:00  0.592907
4               4  2012-04-01 04:00  0.602730
...           ...               ...       ...
23418       23418  2019-07-31 18:00  0.214763
23419       23419  2019-07-31 19:00  0.214763
23420       23420  2019-07-31 20:00  0.213355
23421       23421  2019-07-31 21:00  0.211947
23422       23422  2019-07-31 22:00  0.211947

[23423 rows x 3 columns]

In [4]:
year_change = {'2012': '2030', '2013': '2031', '2014': '2032', '2015': '2033', '2016': '2034', '2017': '2035', '2018': '2036', '2019': '2037'}

In [5]:
dts = []
flows = []
for i in df.index:
    if '2012' in df.loc[i, 'Datetime']:
        dts.append(str(df.loc[i, 'Datetime']).replace('2012', year_change['2012']))
        flows.append(df.loc[i, 'Q'])
    elif '2013' in df.loc[i, 'Datetime']:
        dts.append(str(df.loc[i, 'Datetime']).replace('2013', year_change['2013']))
        flows.append(df.loc[i, 'Q'])
    elif '2014' in df.loc[i, 'Datetime']:
        dts.append(str(df.loc[i, 'Datetime']).replace('2014', year_change['2014']))
        flows.append(df.loc[i, 'Q'])
    elif '2015' in df.loc[i, 'Datetime']:
        dts.append(str(df.loc[i, 'Datetime']).replace('2015', year_change['2015']))
        flows.append(df.loc[i, 'Q'])
    elif '2016' in df.loc[i, 'Datetime']:
        dts.append(str(df.loc[i, 'Datetime']).replace('2016', year_change['2016']))
        flows.append(df.loc[i, 'Q'])
    elif '2017' in df.loc[i, 'Datetime']:
        dts.append(str(df.loc[i, 'Datetime']).replace('2017', year_change['2017']))
        flows.append(df.loc[i, 'Q'])
    elif '2018' in df.loc[i, 'Datetime']:
        dts.append(str(df.loc[i, 'Datetime']).replace('2018', year_change['2018']))
        flows.append(df.loc[i, 'Q'])
    elif '2019' in df.loc[i, 'Datetime']:
        dts.append(str(df.loc[i, 'Datetime']).replace('2019', year_change['2019']))
        flows.append(df.loc[i, 'Q'])

In [6]:
dfout = pd.DataFrame(data = {'Datetime': pd.to_datetime(dts), 'Q': flows})

In [7]:
dfout.to_csv('Woods_Q_1hr_2030_2037.csv')